{% extends 'email/base.html.twig' %}

{% block title %}
    {{ 'user.signing.subject' | trans({}, 'emails') | raw }}
{% endblock %}

{% block content %}
    <p>{{ 'user.signing.content.text' | trans({
        '{{ userEmail }}': userEmail,
        '{{ userIp }}': userIp,
        '{{ app_host }}': app_host,
        '{{ app_url }}': app_url,
        '{{ link_color }}': link_color,
    }, 'emails') | raw }}</p>
{% endblock %}
