<html>
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

    <table style="width: 100%; max-width: 600px; border: 0; border-collapse: collapse; font: 16px 'Segoe UI'; margin: 10px auto;">
        <tr style="border-bottom: 1px solid #000;">
            <td style="font-weight: bold; font-size: 20px;">
                <a href="{{ app_url }}" target="_blank" style="color: {{ link_color }}; text-decoration: none;">{{ 'common.project' | trans({}, 'messages') }}</a>
            </td>
            <td style="font-size: 14px; text-align: right; font-style: italic;">{{ 'common.tagline' | trans({}, 'emails') }}</td>
        </tr>
        <tr>
            <td colspan="2" style="padding: 10px;">
                {% block content %}{% endblock %}
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center; padding: 5px 0; font-size: 13px; border-top: 1px solid #ccc;">
                <a href="{{ app_url }}" target="_blank" style="color: {{ link_color }};">{{ app_host }}</a>, &copy; {{ 'now' | date('Y') }}
            </td>
        </tr>
    </table>

</body>
</html>
